/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
/config/*.secret.exs
.elixir_ls/
/doc/
/lib/*/ebin/
/lib/*/_build/
/lib/*/tmp/
/lib/elixir/src/*_parser.erl
/lib/elixir/test/ebin/
/man/elixir.1
/man/iex.1
/Docs-v*.zip
/Precompiled-v*.zip
/.eunit
.elixir.plt
erl_crash.dump
*.elixir
*.protocols
*.xref
*.beam
# Ignore package tarball (built via "mix hex.build").
identicon-*.tar
